# Folders
.idea/
.ipynb_checkpoints/
.vs/
.vscode/
__pycache__/
meteo_data/
SkyView/
.vscode/
figures/
# Extensions
*$py.class
*.log
*.pdf
*.py[cod]
*.pyproj
*.user
*.vrt
*.xlsx
meteo_data_*.csv
bicikelj_station_*.csv
krskolesom_station_*.csv
